body {
	background-image: url("https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/s720x720/1902892_10152779791995309_1929142961065312454_n.jpg?oh=6724c66bdf26072fec1f950ccb1f096c&oe=54B8425B&__gda__=1425558480_484a56539afa6cc80c00bef3ce1a5398");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Rancho', cursive;
}
h1 {
	font-family: 'Monofett', cursive;
	color: green;
	font-size: 50px;
}
h2 {
	font-family: 'Rancho', cursive;
	color: green;
	font-size: 30px;
	margin-top: -30px;
}
h3 {
	color: black;
}
p {
	color: #333333;
	font-size: 20px;
}
.exp {
	color: #40C000;
}
.contact {
	color: #40C000;
}
.balance img {
	float: right;
	height: auto;
	width: 30%;
}
.balancecap {
	color: white;
    float: right;
    clear: right;
}
.snowjump img {
	float: left;
	height: auto;
	width: 30%;
	margin-top: 250px;
}	
.snowjumpcap {
	color: white;
	float: left;
	clear: left;
}
.imageCarousel img {
  	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
  	height: auto;
	width: 15%;
}
.imageNav {
	position: absolute;
	margin-left: 600px;
	margin-top: 445px;
}