h1 {
	color: blue;
	font-size: 50px;
}
h2 {
	color: red;
	font-size: 20px;
}
.exp {
	color: green;
}
.balance img {
	float: right;
	height: auto;
	width: 30%;
}
.balancecap {
    float: right;
    clear: right;
    margin-right: 140px;
}
.snowjump img {
	float: left;
	height: auto;
	width: 30%;
}	
.snowjumpcap {
	float: left;
	clear: left;
}
.married img {
  	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
  	height: auto;
	width: 20%;
}